body {
    padding: 16px 64px;
}

header {
    margin: -16px -64px 0;
    padding: 32px 64px;
    grid-template-columns: 95px auto;
}

header h1 {
    font-size: 1.4em;
}

header h3 {
    font-size: 1.1em;
}

header p {
    font-size: .9em;
}

.cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

#setOrder {
    margin: 0 -64px;
}