@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
	font-family: 'Open Sans', sans-serif;
	min-height: 756px;
	padding: 16px;
	color: #212121;
	background: #D7D7D7;
	transition: .5s;
/* 
	background: -moz-linear-gradient(45deg, #f46f12 0%, #eba521 100%);
	background: -webkit-linear-gradient(45deg, #f46f12 0%,#eba521 100%);
	background: linear-gradient(45deg, #f46f12 0%,#eba521 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f46f12', endColorstr='#eba521',GradientType=1);
*/
}

footer {
	text-align: center;
	padding: 32px;
}

footer > #meta_telf {
	display: block;
	font-size: .8em;
	color: #212121;
	align-self: center;
	text-decoration: none;
	margin: 16px;
}

footer > a {
	margin: 16px;
	text-decoration: none;
}

footer > a > img {
	width: 24px;
}

/*
 * Header
 */
header {
    color: white;
    background: rgba(0,0,0,.9);
    display: grid;
    grid-template-columns: 85px auto;
	grid-gap: 16px;
	margin: -16px -16px 0;
	padding: 16px 32px 32px;
}

header h1 {
	grid-column: 1 / 3;
	text-align: center;
	align-self: center;
	font-size: 1.4em;
	margin: 0;
	margin-bottom: 16px;
}

header img {
	grid-column: 1;
	grid-row: 2 / 4;
	border-radius: 50%;
	width: 100%;
}

header h3 {
	grid-column: 2;
	font-size: 1.1em;
	margin: 0;
	align-self: center;
}

header p {
	font-size: .8em;
	grid-column: 2;
	margin: 0;
}

#date {
	display: block;
	color: #212121;
	font-size: .8em;
	text-align: right;
}

/*
 * Contant
 */
.content {
	margin-top: 16px;
}

/*
 * Cards
 */

.cards {
	margin-top: 16px;
	padding: 16px 0;
	display: grid;
	grid-gap: 16px;

	grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 528px) {
	.cards {
		grid-template-columns: repeat(1, 1fr);
	}
}

.card {
	height: 350px;
	border-radius: 16px;
	background-color: #eee;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
}

.card_imag {
	height: 65%;
	background-size: cover;
	border-radius: 16px 16px 0 0;
}

.card_info {
	padding: 16px 32px;
	border-radius: 16px;
	position: relative;
	top: -16px;
	background-color: #fff;
	height: calc(35% - 16px);
}

.card_no_img {
	border-radius: 16px;
	background-color: #eee;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
	height: 100%;
}

.card_imag_no_img {
	display: none;
}

.card_info_no_img {
	padding: 16px 32px;
	border-radius: 16px;
	position: relative;
	top: -16px;
	background-color: #fff;
	height: 100px;
}

.card_info b, .card_info_no_img b {
	font-size: 1.15em;
	overflow: hidden;
	height: 45px;
	display: block;
}

.card_info p, .card_info_no_img p {
	min-height: 55px;
	max-height: 70px;
	font-size: .85em;
	line-height: normal;
}

.card_info_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-gap: 4px;
	margin-top: 16px;
}

.card_info_grid ul {
	align-self: center;	
	margin: 0;
	padding: 0;
	font-size: .75em;
	color: #757575;
	list-style-type: none;
}

.card_info_grid small {
	align-self: center;	
	font-size: 1em;
	font-weight: 900;
}

/*
 * sidedish modal
 */
#setOrder {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	margin: 0 -16px;
}

.modal {
	position: relative;
	max-width: 350px;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	padding: 16px 32px;
	border-radius: 16px;
	overflow-y: scroll;
	max-height: 80vh;
}

.modal .select_side,
.modal select,
.modal span {
    display: block;
}

.modal span {
	font-size: .9em;
	margin: 12px 0 16px;
}

/*
 * globals
 */
button {
	align-self: center;	
	font-size: .9em;
	font-weight: 900;
	color: #fff;
	padding: 12px;
	background-color: #f46f12;
	border: none;
	border-radius: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

.cancel {
    background-color: transparent;
    color: gray;
    display: inline-block;
}

.send {
	display: inline-block;
}

/* Custom Select */
.radio {
	margin: 0.5rem;
}
.radio input[type=radio] {
	position: absolute;
	opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
	content: "";
	background: #f4f4f4;
	border-radius: 100%;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: -0.2em;
	margin-right: 1em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
	background-color: #3197EE;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
	outline: none;
	border-color: #3197EE;
}
.radio input[type=radio]:disabled + .radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}
.radio input[type=radio] + .radio-label:empty:before {
	margin-right: 0;
}

/* new modal */
.modal select {
	width: 100%;
	margin: 6px 0;
	font-size: .8em;
	padding: 5px;
}
.modal div {
	margin-bottom: 16px;
}
.modal input {
	margin: 8px 0;
}
.modal label {
	font-size: .8em;
}