body {
    padding: 16px;
}

header {
    grid-gap: 12px;
    padding: 16px 16px 32px;
}

header h1 {
    font-size: 1.3em;
}

header h3 {
    font-size: .85em;
}

header p {
    font-size: .7em;
}

.cards {
    grid-gap: 36px;
}

.card_info {
    padding: 16px 20px;
}

.card_info_grid small {
    font-size: 1em;
}

.card_info_grid button {
    font-size: .8em;
}