body {
    padding: 16px 36px;
}

header {
    margin: -16px -36px 0;
    padding: 32px 64px;
    grid-template-columns: 125px auto;
}

header h1 {
    font-size: 2em;
}

header h3 {
    font-size: 1.3em;
}

header p {
    font-size: 1.1em;
}

.cards {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px; 
}

#setOrder {
    margin: 0 -36px;
}